{% extends "layout.html" %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<p>Registration is now <strong>open</strong>!</p>
		<a href="{{ base_url }}/register" class="btn btn-primary">Register now</a>
	</div>
</div>

<div class="page-header">
  <h2>About the conference</h2>
</div>
<p><strong>ICGI</strong> is a conference on all aspects of grammatical inference, including (but not limited to) theoretical and experimental 
		analysis of different models of grammar induction, and algorithms for induction of different classes of languages and automata.</p>
<ul class="share-buttons text-center">
	<li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="{{ base_url }}/public/images/flat_web_icon_set/black/Facebook.png" /></a></li>
	<li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img alt="Tweet" src="{{ base_url }}/public/images/flat_web_icon_set/black/Twitter.png" /></a></li>
	<li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="{{ base_url }}/public/images/flat_web_icon_set/black/Google+.png" /></a></li>
	<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="{{ base_url }}/public/images/flat_web_icon_set/black/LinkedIn.png" /></a></li>
	<li><a href="mailto:?subject=&body=:%20" target="_blank" title="Send email"><img alt="Send email" src="{{ base_url }}/public/images/flat_web_icon_set/black/Email.png" /></a></li>
</ul>

<div class="page-header">
  <h2>Scope and objective</h2>
</div>
<p class="lead">ICGI 2018 seeks to provide a forum for presentation and discussion of original research papers on all aspects of grammatical inference.</p>
<p>Key interests are machine-learning methods applied to discrete combinatorial structures such as strings, trees, or graphs, and algorithms for learning symbolic models such as grammars, 
	automata, Markov models, or pattern languages.</p>
<p>The conference seeks to provide a forum for presentation and discussion of original research papers on all aspects of grammatical inference including, but not limited to:</p>
<p>...</p>
{% endblock %}